.DS_Store

__pycache__/
*.py[cod]

frontend/node_modules/
frontend/dist/
frontend/release/
frontend/backend-dist/
frontend/node_modules/

backend/build/
backend/dist/
backend/.venv-build/

*.zip

backend/connections.json
backend/replay/
.env
.env.*

events.md

*.concert
!backend/playings/tests/db_read_loop_resources_call.concert
!backend/playings/tests/ff_untitled_concert.concert

*.json
